NET "uinp1" LOC = P51 | IOSTANDARD = LVTTL;
NET "uinp2" LOC = P41 | IOSTANDARD = LVTTL;
NET "uinp3" LOC = P35 | IOSTANDARD = LVTTL;
NET "sum" LOC = P33 | IOSTANDARD = LVTTL;
NET "carryout" LOC = P30 | IOSTANDARD = LVTTL;